.container-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-chart .container-item {
    width: 350px;
    margin: 10px;
    border: solid black 1px;
    /* margin-left: 20px; */
    /* margin: 5px; */
    /* margin-bottom: 10px; */
    /* margin-bottom: 35px; */
}

.js {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.eh {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    height: 63px;
}

.bv {
    margin-right: 10px;
    display: flex;
    height: 32px;
    flex-direction: row;
}

.edl {
    margin-right: 10px;
    display: flex;
    height: 42px;
    flex-direction: row;
}
